<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="onloadJS">
    <script th:src="@{/bootstrap/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.mobile.custom.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap/js/bootbox.js}"></script>
    <!--[if lte IE 8]>
    <script th:src="@{/bootstrap/js/excanvas.js}"></script>
    <![endif]-->
    <script th:src="@{/bootstrap/js/jquery-ui.custom.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.tmpl.js}"></script>
    <script th:src="@{/bootstrap/js/flot/jquery.flot.js}"></script>
    <script th:src="@{/bootstrap/js/flot/jquery.flot.resize.js}"></script>

    <script th:src="@{/bootstrap/js/jquery.validate.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.validate.ext.js}"></script>

    <!-- page specific plugin scripts -->
    <script th:src="@{/bootstrap/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/bootstrap/js/dataTables/jquery.dataTables.bootstrap.js?v=9}"></script>
    <script th:src="@{/bootstrap/js/dataTables/extensions/buttons/dataTables.buttons.js}"></script>
    <script th:src="@{/bootstrap/js/dataTables/extensions/buttons/buttons.html5.js}"></script>
    <script th:src="@{/bootstrap/js/dataTables/extensions/buttons/buttons.print.js}"></script>
    <script th:src="@{/bootstrap/js/dataTables/extensions/select/dataTables.select.js}"></script>


    <script th:src="@{/bootstrap/js/jquery-ui.custom.js}"></script>
    <script th:src="@{/bootstrap/js/chosen.jquery.js}"></script>
    <script th:src="@{/bootstrap/js/fuelux/fuelux.wizard.js}"></script>
    <script th:src="@{/bootstrap/js/date-time/bootstrap-datepicker.js}"></script>
    <script th:src="@{/bootstrap/js/date-time/bootstrap-timepicker.js}"></script>
    <script th:src="@{/bootstrap/js/date-time/moment.js}"></script>
    <script th:src="@{/bootstrap/js/date-time/daterangepicker.js}"></script>
    <script th:src="@{/bootstrap/js/date-time/bootstrap-datetimepicker.js}"></script><link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datetimepicker.css}" /><script th:src="@{/bootstrap/js/date-time/bootstrap-datetimepicker.zh-CN.js}"></script>    <script th:src="@{/bootstrap/js/select2.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.knob.js}"></script>
    <script th:src="@{/bootstrap/js/autosize.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.inputlimiter.1.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.maskedinput.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-tag.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.bootstrap-duallistbox.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-multiselect.js}"></script>


    <!-- page specific plugin scripts -->
    <script th:src="@{/bootstrap/js/fuelux/fuelux.tree.js?v=1}"></script>
    <!-- ace scripts -->
    <script th:src="@{/bootstrap/js/ace/elements.scroller.js}"></script>
    <script th:src="@{/bootstrap/js/ace/elements.fileinput.js}"></script>
    <script th:src="@{/bootstrap/js/ace/elements.treeview.js}"></script>
    <script th:src="@{/bootstrap/js/ace/elements.wizard.js}"></script>
    <script th:src="@{/bootstrap/js/ace/elements.aside.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.ajax-content.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.sidebar.js?v=3}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.widget-box.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.settings.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.widget-on-reload.js}"></script>
    <script th:src="@{/bootstrap/js/ace/ace.searchbox-autocomplete.js}"></script>

    <script th:src="@{/bootstrap/js/treeview/bootstrap-treeview.js}"></script>
    <script th:src="@{/bootstrap/js/jstree/jstree.js}"></script>


    <!-- 步骤插件相关 -->

    <script th:src="@{/bootstrap/js/fas/fas.datadic.js?v=22}"></script>
    <script th:src="@{/bootstrap/js/fas/fas.dateFormat.js}"></script>
    <script th:src="@{/bootstrap/js/fas/fas.stringFormat.js}"></script>
    <script th:src="@{/bootstrap/js/fas/fas.formSerializeJson.js}"></script>
    <script th:src="@{/bootstrap/js/fas/fas.pageUtil.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var RESULT_SUCCESS = 'success';
        var RESULT_ERROR = 'error';
        var cmdDictInit = /*[[@{/dict/init}]]*/;
        var ParamTool = new ParamsUtil(cmdDictInit);
    </script>


    <script th:src="@{/js/common/index.js}"></script>
    <script th:src="@{/js/common/desktop.js}"></script>

    <script th:src="@{/bootstrap/uploadfive/jquery.uploadifive.min.js}"></script>
    <script th:src="@{/bootstrap/fancyBox/jquery.fancybox.pack.js}"></script>



</div>
</body>