<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 可以让部分国产浏览器默认采用高速模式即 webkit 内核）)渲染页面 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" th:href="@{/bootstrap/images/private/he.ico}">

    <title>和飞信运营支撑平台</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/font-awesome.css}" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery-ui.custom.css}" />
    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/bootstrap/js/jstree/themes/default/style.min.css}" />
    <!-- text fonts -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/ace-fonts.css}" />

    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/ace.css}" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/bootstrap/css/ace-part2.css}" />
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/bootstrap/css/ace-ie.css}" />
    <![endif]-->


    <link rel="stylesheet" th:href="@{/bootstrap/css/fas.css?v=12132}" />

    <!--[if lt IE 9]>
    <script th:src="@{/bootstrap/js/html5shiv.js}"></script>
    <script th:src="@{/bootstrap/js/respond.js}"></script>
    <![endif]-->

</head>