<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/simple_css :: head"></head>
<title>中移运营支撑系统-修改密码</title>
<body class="no-skin">


<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">


                        <div class="hr dotted"></div>

                        <div>
                            <div id="user-profile-1" class="user-profile row">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div>
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt="Alex's Avatar"
                                                         src="/bootstrap/avatars/profile-pic.jpg"/>
												</span>

                                        <div class="space-4"></div>

                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                                    <i class="ace-icon fa fa-circle light-green"></i>
                                                    &nbsp;
                                                    <span class="white" name="username"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space-6"></div>

                                    <div class="hr hr12 dotted"></div>


                                    <div class="hr hr16 dotted"></div>
                                </div>
                                <br><br><br><br>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="modal-header">
                                        <h4 class="modal-title center blue">修改密码</h4>
                                        <button class="btn btn-sm btn-primary" id="btnsave" onclick="save();">
                                            <i class="ace-icon fa fa-check"></i>
                                            保存
                                        </button>
                                    </div>

                                    <form id="dataform" method="post">
                                        <!-- #section:elements.form -->
                                        <div class="form-group">
                                            <div class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">原始密码</div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="password" id="nowPassword" name="nowPassword" value="" placeholder=""
                                                           required="required"
                                                           class="col-xs-12 col-sm-7"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">新密码</div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="password" id="password" name="password" value="" placeholder=""
                                                           required="required"
                                                           class="col-xs-12 col-sm-7"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">请再输一遍</div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="password" id="pAgain" name="pAgain" value="" placeholder=""
                                                           required="required"
                                                           class="col-xs-12 col-sm-7"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

</div><!-- /.main-container -->
<div th:include="common/simple_js :: simpleJS"></div>
<script th:src="@{/js/common/crypto-js-master/crypto-js.js}"></script>
<script th:src="@{/bootstrap/js/jquery.validate.js}"></script>
<script type="text/javascript" th:inline="javascript">

    //正则表达式验证的写法
    jQuery.validator.addMethod("passwordVerify", function (value, element, params) {
        var doubles = /^[0-9A-Za-z]{6,16}$/;
        return this.optional(element) || (doubles.test(value));
    }, "<span style=\"color:Red;font-size:12px\">6-16位字母、数字!</span>");


    function save() {
        if (!$('#dataform').valid()) {
            return false;
        }
        $("#nowPassword").val(CryptoJS.MD5($("#nowPassword").val()));
        $("#password").val(CryptoJS.MD5($("#password").val()));
        $("#pAgain").val(CryptoJS.MD5($("#pAgain").val()));
        $.ajax({
            "dataType": 'json',
            "type": "POST",
            "url": "/user/password",
            "data": $('#dataform').serialize(),
            "success": function (data) {
                $("#nowPassword").val("");
                $("#password").val("");
                $("#pAgain").val("");
                var json = eval(data);
                if (data.status == "SUCCESS") {
                    bootbox.alert("密码修改成功！");
                    $("#password-form").modal('hide');
                } else {
                    bootbox.alert(json.msg);
                }
            }
        });
    }

    $(function () {
        $('#dataform').validate({
            rules: {
                'newpassword':{
                    passwordVerify: true
                },
                'password': {
                    required: true,
                    passwordVerify: true
                },
                'pAgain': {
                    equalTo: "#password"
                }
            }, messages: {
                'newpassword':{
                    passwordVerify: "<span style=\"color:Red;font-size:12px\">6-16位字母、数字!</span>"
                },
                'password': {
                    required: "<span style=\"color:Red;font-size:12px\">请填写密码</span>"
                },
                'pAgain': {
                    equalTo: "<span style=\"color:Red;font-size:12px\">密码必须一样</span>"
                }
            }
        });
    })

</script>

</body>
</html>
