<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luohw.springboot.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.luohw.springboot.dbentity.MenuDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="available" jdbcType="INTEGER" property="available"/>
        <result column="icon_class" jdbcType="VARCHAR" property="iconClass"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, type, url, parent_id, available, icon_class, priority
    </sql>

    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        WHERE available=1
    </select>

    <select id="getMenuByFirstMenuId" resultMap="BaseResultMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from menu
        WHERE available=1 and
        id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
        </foreach>
        or
        parent_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
        </foreach>

        order by id asc;
    </select>
</mapper>